@tailwind utilities;
@tailwind components;
@tailwind base;

@font-face {
	font-family: 'Zed Mono Extended';
	src: url('/font/zed.ttf') format('truetype');
	font-weight: 400;
	font-style: regular;
}

@font-face {
	font-family: 'Zed Mono Extended';
	src: url('/font/zed-bold.ttf') format('truetype');
	font-weight: 600;
	font-style: regular;
}

:root {
	--bg: #fff;
	--bg-panel: #f6f8fa;
	--border: #e1e4e8;
	--border-divider: #d1d5da;
	--text: #24292e;
	--text-muted: #6a737d;
	--text-dim: #959da5;
	--caret: #6a737d;

	--syn-keyword: #d73a49;
	--syn-identifier: #005cc5;
	--syn-string: #032f62;
	--syn-number: #005cc5;
	--syn-function: #6f42c1;
	--syn-print: #e36209;
	--syn-bracket: #586069;
	--syn-space: #959da5;
}

.dark {
	--bg: #24292e;
	--bg-panel: #1f2428;
	--border: #444d56;
	--border-divider: #586069;
	--text: #e1e4e8;
	--text-muted: #6a737d;
	--text-dim: #444d56;
	--caret: #6a737d;

	--syn-keyword: #f97583;
	--syn-identifier: #79b8ff;
	--syn-string: #9ecbff;
	--syn-number: #79b8ff;
	--syn-function: #b392f0;
	--syn-print: #ffab70;
	--syn-bracket: #d1d5da;
	--syn-space: #444d56;
}
